AIRFLOW_UID=#put a number here. 1000 refers to the user of your own folder. 50000 refers to airflow itself
AIRFLOW_FERNET_KEY=#generate a key using bash and put it here

ENV_HOST=#put host here
ENV_USER=#put your user here
ENV_PASSWORD=#put your password here
ENV_DATABASE=#put your database here
ENV_PORT=#put your port here